* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 200px;
    height: 100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-family: TX02 Nerd Font, Arial;
}

.box1 {
    background-color: #4caf50;
    margin: 10px;
    padding: 10px;
    border: 5px solid #2e8b57
}

.box2 {
    background-color: #ffc107;
    margin: 10px;
    padding: 10px;
    border: 5px dashed #ff5722
}

.box3 {
    background-color: #2196f3;
    margin: 30px;
    padding: 40xp;
    border: 15px dotted #0d47a1;
}
